html {
    text-align: center;
}

label {
    margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.access-request-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.thank-you-message {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.error-message {
    color: red;
    font-weight: bold;
}
